<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    
      <button type=""><%= link_to "Tumblr", root_path %></button><br>

      <button type=""><%= link_to "nuevo", new_post_path %></button>

  
  

	<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert") %>

          
     
	<% end %>

    <%= yield %>
  
  </body>
</html>
